<!DOCTYPE html>
<html lang="{{=it.locale}}">
	<head>
		<title>{{=it.title}}</title>

		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		{{~it.styles :stylePath}}
		<link rel="stylesheet" href="{{=stylePath}}"/>
		{{~}}
	</head>
	<body>
		<script>
			/*window.app = Object.freeze({{=it.params}});*/
			window.app = {{=it.params}};
		</script>

		<div id="app" name="feedback"></div>

		{{~it.scripts :scriptPath}}
		<script src="{{=scriptPath}}"></script>
		{{~}}
	</body>
</html>
