.griddle-table {
	font-family: Roboto;

	.griddle-table-body {

		.griddle-row {
			cursor: pointer;
		}
	}
}

.griddle-pagination {
	margin: 1.5rem 0;
	text-align: right;
	font-family: Roboto;

	.griddle-page-select, .griddle-next-button, .griddle-previous-button {
		display: inline-block;
		margin: 0 0 0 .5rem;
		padding: .2rem 1rem;
		height: 2.5rem;
		background: transparent;
	}

	.griddle-page-select {
		width: auto;
		-webkit-appearance: menulist;
		-moz-appearance: menulist;
	}

	.griddle-next-button, .griddle-previous-button {
		border: 1px solid #cacaca;
		border-radius: 0;
		-webkit-appearance: button;
		-moz-appearance: button;
	}
}

.griddle-no-results {
	font-size: 2rem;
	font-family: Roboto;
}

@media only screen and (max-width: 768px) {
	.griddle-page-select, .griddle-next-button, .griddle-previous-button {
		font-size: .8rem;
	}

	.griddle-table-heading {
		font-size: 1.2rem;
	}

	.griddle-table-body {
		font-size: 1rem;
	}
}


@media (min-width: 550px) {
	.griddle-page-select, .griddle-next-button, .griddle-previous-button {
		font-size: 1.5rem;
	}

	.griddle-table-heading {
		font-size: 2rem;
	}

	.griddle-table-body {
		font-size: 1.5rem;
	}
}
