.users-group-holder {
	.griddle-row {
		font-size: 1.1rem;
		color: #777;
	}

	.griddle-table-heading {
		font-weight: bold;
		font-style: italic;
		text-transform: uppercase;
		font-size: 1.2rem;
		color: #111;
	}

	.griddle-cell {
		padding: .5rem .625rem;
			button {
				margin: 0;
			}
	}
}
