// ASSETS
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


// COLORS
$color-background:   #fff;
$color-text:         #222;
$color-success:      rgba(89,126,151,1);
$color-warning:      rgba(185,79,112,1);
$color-notification: rgba(255,250,217,1);

// MATERIAR UI PAPER PRINCIPLES
$shadow-level-1: 0 1px 2px rgba(0, 0, 0, 0.2);
$shadow-level-2: 0 2px 3px rgba(0, 0, 0, 0.3);
$shadow-level-3: 0 3px 5px rgba(0, 0, 0, 0.5);

@mixin material-icon {
	font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

// WIDTH
$content-max-width: 40rem;

// ZEROPING CONTENT
html, body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// ANIMATIONS
@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes disappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
$speed-appear: .5s;
$speed-disappear: .3s;
@mixin appear {
	animation: appear $speed-appear;
}
@mixin disappear {
	animation: disappear $speed-disappear;
}

// AAAAND AWAY WE GO!
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
header[role=banner] {
	height: 3rem;
	margin-bottom: 1rem;
  box-shadow: $shadow-level-2;
  h1 {
  	background-image: url("/static/images/logo/leserkritikk-logo-color.svg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 10rem;
  	text-indent: -10000px;
  }
}

ins {
	color: $color-success;
	text-decoration: none;
}
del {
	color: $color-warning;
}

// BUTTON
// Buttons are used for actions.
// We use "anchors" <a> in the code since we want :before and :after
// pseudo-class to be avialable when styling.
.button {
	text-transform: uppercase;
	font-size: .8rem;
	background: none;
	border: none;
	cursor: pointer;
	padding: .5rem;
	letter-spacing: .1rem;

	&:before {
		margin-right: .3rem;
		@include material-icon;
		display: inline-block;
		border-radius: 2rem;
		border-width: 1px;
		border-style: solid;
		position: relative;
  	top: .15rem;
  	padding: .5rem;
  }

	// BUTTON VARIATIONS
	&.cancel {
		&:before {
			content: "close";
			border-color: $color-warning;
    }
		color: $color-warning;
	}
	&.save {
		&:before {
			content: "done";
			border-color: $color-success;
		}
		color: $color-success;
	}
	&.edit {
		&:before {
			content: "edit";
			border-color: $color-success;
		}
		color: $color-success;
	}
	&.reset {
		&:before {
			content: "delete";
			border-color: $color-warning;
		}
		color: $color-warning;
	}
}

.fab {
	pointer-events: none;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1rem;
	text-align: right;
	margin: 0 auto;

	span {
		pointer-events: all;
		&.disabled {
			@include disappear;
			opacity: 0;
		}
		background-color: $color-success;
    color: $color-background;
    padding: .75rem 0rem .75rem .5rem;
    position: relative;
    top: -.5rem;
    left: -1rem;
    opacity: 0;
		box-shadow: $shadow-level-3;
    &:before {
			margin-right: .3rem;
			@include material-icon;
			content: "close";
	    font-size: 1.5rem;
	    position: relative;
	    top: .30rem;
 			cursor: pointer;
    }
    &:after {
    	border-style: solid;
			border-width: .5rem;
			border-color: transparent transparent transparent $color-success;
			content: "";
			display: inline-block;
			position: relative;
			right: -1rem;
			top: .1rem;
			cursor: pointer;
    }
	}

	a {
		pointer-events: all;
		position: relative;
		font-size: 0rem;
		color: transparent;
		&:before {
			background-color: $color-success;
			color: $color-background;
			font-size: 2rem;
			margin-right: .3rem;
			@include material-icon;
			display: inline-block;
			border-radius: 3rem;
			position: relative;
	  	padding: 1.5rem;
			content: "done";
			cursor: pointer;
			box-shadow: $shadow-level-3;
		}
	}

	&.disabled {
		a {
			transition: bottom $speed-appear;
			bottom: -6rem;
		}
	}
	&.enabled {
		a {
			transition: bottom $speed-disappear;
			bottom: 0rem;
		}
		span {
			opacity: 1;
			@include appear;
			&.disabled {
				@include disappear;
				opacity: 0;
			}
		}
	}
}

// MAIN CONTENT
// The "card" is each element from the article.
// E.g. a paragraph, a title, a lead etc.
.card {
  box-shadow: $shadow-level-2;
  padding: 1rem;
  margin: 0 auto 1rem;
  max-width: $content-max-width;
  box-sizing: border-box;
	@media (max-width: $content-max-width){
		margin: 0 .5rem 1rem;
	}

  h1 {
  	font-size: 1.8rem;
  	margin: 0 0 .5rem;
  	font-weight: 400;
  }

  h3 {
    font-size: 1.25rem;
    margin: 0 0 .5rem;
    font-weight: 600;
  }

  p {
  	margin-bottom: .5rem;
  }

	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}

  textarea,
  input[type=text] {
  	width: 100%;
  	border: 1px solid $color-success;
  	border-radius: 5px;
  	padding: .5rem;
		font-family: 'Roboto', sans-serif;
		font-size: .9rem;
		margin-bottom: 1rem;
  }

  footer {
		text-align: center;
		margin: 1rem 0;
  }

  fieldset {
  	&.actions {
  		text-align: center;
  		margin: 1rem 0;
  	}
  }

  label {
  	text-transform: uppercase;
  	color: $color-success;
  	font-size: .8rem;
  }


	// The form contains the inpu from the user.
	// When the element is being edited a class is added.
	// so we can hide the element by default.
	form {
		display: none;
	}
	ol {
		li {
			font-size: .9rem;
			list-style: none;
			&:before {
				margin-right: .3rem;
				font-size: 1.5rem;
				@include material-icon;
				display: inline-block;
				content: "close";
				color: $color-warning;
				position: relative;
	    	top: .5rem;
	    	cursor: pointer;
			}
			&:last-child {
				margin-bottom: 1rem;
			}
		}
	}

	// When the form is "active" we add a editing class
	// displaying all the input feilds and hiding some options.
  &.editing {
		form {
			display: block;
			@include appear;
		}
		footer {
			display: none;
		}
	}

	&:not(.edited) {
		.button.reset {
			display: none;
		}
	}
}
