.confirmation {
	.container {
		padding: 0;
	}
	form {
		input, textarea, button{
			width: 100%;
		}
		input {
			font-size: 14px;
		}
		textarea {
			max-width: 100%;
		}
		.hide {
			display: none;
			visibility: hidden;
		}
	}
	ul {
		li {
			color: red;
		}
	}
	small.error{
		color: #D60000;
	}
	.feedbackForm {
		width: 100%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		textarea {
			resize: none;
			height: 200px;
		}
	}
	.returnToArticle {
		h5 {
			a {
				button {
					font-size: 20px;
				}
			}
		}
	}
}

.notifications {
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
	width: 100%;
	margin: 0;
	z-index: 9999;
	box-sizing: border-box;
	display: none;
	.container {
		background: #82D581;
		border: 2px solid #32953C;
		border-top: none;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		font-family: "Droid Sans", sans-serif;
		color: #333;
	}
}

.suggestion {
	.button-primary{
		font-size:14px;
		&:disabled {
			opacity: .5;
			cursor: not-allowed;
		}
	}
}

@media only screen and (max-width:480px) {
	.confirmation {
		.feedbackForm {
			textarea {
				height: 100px;
			}
		}
		.returnToArticle {
			h5 {
				a {
					button {
						font-size: 15px;
					}
				}
			}
		}
	}
}
