<!DOCTYPE html>
<html lang="no">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Critical Reader</title>
	<meta name="description" content="Feedback Tool">
	<meta name="keywords" content="">
	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">


	{{~it.styles :stylePath}}
	<link rel="stylesheet" href="{{=stylePath}}"/>
	{{~}}
</head>
<body>
	<script>
		window.feedbackParam = Object.freeze({{=it.feedbackParam}});
	</script>

	<div id="app" name="suggestion"></div>

	{{~it.scripts :scriptPath}}
	<script src="{{=scriptPath}}"></script>
	{{~}}
</body>
</html>
