<!DOCTYPE html>
<!--
  This is a temporary template to test the doT engine. The final templates are not
  intended to be files on the storage but will rather be loaded from the database.
-->
<html lang="no">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Home Page</title>
    <meta name="description" content="Home Page For Reader Critics">
    <meta name="keywords" content="">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    {{~it.styles :stylePath}}
    <link rel="stylesheet" href="{{=stylePath}}"/>
    {{~}}
</head>
<body>
<header role='banner'>
   <h1>Leserkritikk</h1>
</header>
<div class="container">
    <div class="row section frontpage">
        <div class="content u-full-width">
            <h2>
                Welcome to the Reader Critics application
            </h2>
            <p>
                Reader Critics is a tool made by <a href="https://www.dagbladet.no">Dagbladet</a> with support from the <a href="https://digitalnewsinitiative.com/dni-projects/leserkritikk-reader-critics/">Google DNI fund</a> made to enable the readers to give precise and constructive criticism to journalistic work. What you see here is the second iteration of the product and is bound to be released to the public and other media companies by the 4th quarter of 2017.
            </p>
            <p>
                This is the staging environment always portraying the master branch from the project, and you can <a href="https://github.com/dbmedialab/reader-critics">follow the project on GitHub here</a>.
            </p>
            <p>
                To test how this works with an article we have set up a demo at <a href="http://35.187.62.26/fb/http://www.dagbladet.no/nyheter/frykter-norwegian-tilbud-om-firedobbel-lonn---slitne-piloter-kan-bli-fristet-til-a-fly/68382196">this page.</a> In theory you may even change the url to fit any page, however the application is nor stable or have an address to send feedback to any page. 
            </p>
            <p>
                The Reader Critics Team
            </p>
        </div>
    </div>
</div>

<footer id="main-footer">
    <div class="container">
        <div class="content four columns">
            <a href="/suggestion-box">Gi oss din tilbakemelding på verktøyet</a>
        </div>
        <div class="content four columns">
            <div itemtype="http://schema.org/Organization" itemscope="">© 2016-17 <span itemprop="name">DB Medialab</span></div>
        </div>
    </div>
</footer>
</body>
</html>
