<html lang="{{=it.locale}}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	</head>
	<body>
		<style>
			div {
				font-size: 12pt;
			}
			a {
				color: #0070D0;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
			hr.article-sep {
				margin-top: 15px;
				margin-bottom: 15px;
			}
			div.article-box {
				font-size: 14pt;
				font-weight: bold;
			}
			div.article-box, div.byline-box {
				margin-bottom: 4px;
			}
		</style>
		<div id="mail-main" style="font-family: 'Droid Sans', Arial, Helvetica, sans-serif; font-size: 11pt;">
			<div style="font-size: 12pt; margin-bottom: 0.1cm;">{{=it.text.itsaDigest}}</div>

			<hr class="article-sep"/>

			{{~it.articles :article}}
				<div class="article-box"><a href="{{=article.url}}">{{=article.title}}</a></div>
				<div class="byline-box">({{=article.byline}})</div>
				<div class="last-modified"><b>{{=it.text.articleVersion}}:</b> {{=article.version}}</div>

				<hr class="article-sep"/>
			{{~}}

			<div>{{=it.text.dateRange}}</div>
		</div>
	</body>
</html>
