<html lang="{{=it.locale}}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	</head>
	<body>
		<style>
			div {
				font-size: 12pt;
				/*padding: 4px;*/
			}
			ins {
				color: #0080DD;
			}
			del {
				color: #DD3300;
			}
		</style>
		<div id="mail-main" style="font-family: 'Droid Sans', Arial, Helvetica, sans-serif; font-size: 11pt;">
			<div style="font-size: 12pt; margin-bottom: 0.1cm;">{{=it.gotFeedback}}</div>
			<div style="font-size: 15pt; margin-bottom: 0.4cm;">{{=it.articleTitle}}</div>

			<div style="font-size: 12pt; margin-bottom: 0.1cm;">{{=it.whoSent}}</div>
			<div style="font-size: 15pt; margin-bottom: 0.4cm;">{{=it.enduser}}</div>

			<div class="feedback-box">{{=it.feedbackBox}}</div>
		</div>
	</body>
</html>
