<html lang="{{=it.locale}}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	</head>
	<body>
		<style>
			div {
				font-size: 12pt;
				/*padding: 4px;*/
			}
			ins {
				color: #0060DD;
			}
			del {
				color: #DD3300;
			}
			a {
				color: #0070D0;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
			hr.feedback-sep {
				margin-top: 15px;
				margin-bottom: 15px;
			}
			div.feedback-date {
				font-size: 10pt;
				margin-bottom: 0.2cm;
			}
			.em {
				color: #293a46;
				font-weight: bold;
			}
		</style>
		<div id="mail-main" style="font-family: 'Droid Sans', Arial, Helvetica, sans-serif; font-size: 11pt;">
			<div style="font-size: 12pt; margin-bottom: 0.1cm;">{{=it.editorEscalation}}</div>
			<div style="font-size: 15pt; margin-bottom: 0.4cm;">{{=it.articleTitle}}</div>
			<div style="font-size: 12pt; margin-bottom: 0.1cm;">{{=it.ccEditor}}</div>

			<hr class="feedback-sep"/>
			{{~it.feedbacks :feedback}}
			<div class="feedback-box">{{=feedback}}</div>
			<hr class="feedback-sep"/>
			{{~}}

			<div style="font-size: 12pt; margin-top: 0.5cm; font-style: italic;">
				Denne eposten kommer fra Betatesten av Leserkritikk 2.<br/>
				Har du spørsmål ta kontakt med <a href="mailto:christoph.schmitz@dagbladet.no">Christoph Schmitz</a> eller les mer på <a href="https://github.com/dbmedialab/reader-critics">GitHub</a>.
			</div>

			<hr style="margin: 2em 0 1em;"/>

			<div style="font-size: 10pt; color: #0055AA;">
				<p style="margin: 0.4em 0;"><u>Debug information:</u></p>
				{{=it.debugInfo}}
			</div>
		</div>
	</body>
</html>
