.fab {
	pointer-events: none;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1rem;
	text-align: right;
	margin: 0 auto;

	span {
		pointer-events: all;
		&.disabled {
			@include disappear;
			opacity: 0;
		}
		background-color: $color-success;
		color: $color-background;
		padding: .75rem 0rem .75rem .5rem;
		position: relative;
		top: -.5rem;
		left: -1rem;
		opacity: 0;
		box-shadow: $shadow-level-3;
		&:before {
			margin-right: .3rem;
			@include material-icon;
			content: "close";
			font-size: 1.5rem;
			position: relative;
			top: .30rem;
			cursor: pointer;
		}
		&:after {
			border-style: solid;
			border-width: .5rem;
			border-color: transparent transparent transparent $color-success;
			content: "";
			display: inline-block;
			position: relative;
			right: -1rem;
			top: .1rem;
			cursor: pointer;
		}
	}

	a {
		pointer-events: all;
		position: relative;
		font-size: 0rem;
		color: transparent;
		&:before {
			background-color: $color-success;
			color: $color-background;
			font-size: 2rem;
			margin-right: .3rem;
			@include material-icon;
			display: inline-block;
			border-radius: 3rem;
			position: relative;
			padding: 1.5rem;
			content: "done";
			cursor: pointer;
			box-shadow: $shadow-level-3;
		}
	}

	&.disabled {
		a {
			transition: bottom $speed-appear;
			bottom: -6rem;
		}
	}
	&.enabled {
		a {
			transition: bottom $speed-disappear;
			bottom: 0rem;
		}
		span {
			opacity: 1;
			@include appear;
			&.disabled {
				@include disappear;
				opacity: 0;
			}
		}
	}
}