@mixin material-icon {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	text-transform: none;
}
@mixin appear {
	animation: appear $speed-appear;
}
@mixin disappear {
	animation: disappear $speed-disappear;
}